@font-face {
    font-family: 'SpaceGrotesk';
    src: url(/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
}

:root{

    --primary-color: #3778FA;
    --secund-color: #f3f3f3;
    --background-color: #ffffff;
    --text-dark: #000000;
    --text-light: #ffffff;
    --text-muted: #65676c;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'SpaceGrotesk', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}


.header-inner{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 4rem 0rem;
    align-items: center;
}

h2{
    text-align: center;
    line-height: 42px;
    letter-spacing: -4%;
}

.logo h1 {
    color: var(--primary-color);
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem ;
}

.menu-desktop{
    display: none;
}

#menu-smartphone button{
    border: 0;
    background-color: var(--background-color);
    font-weight: 200;
    font-size: 2rem;
}

.hero-text{
    text-align: center;
}

.hero-text h2{
    font-size: clamp(1rem, 9.8rem, 5rem);
    padding-bottom: 1.3rem;
    max-width: auto;
    line-height: 106px;
    letter-spacing: -4%;
    margin: 0 auto;
}

.hero-text p{
    font-size: 0.875rem ;
    padding-bottom: 2.5rem;
}

.hero-img img{
    max-width: 100%;
    padding-bottom: 6.8rem;
}

.intro-video h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 35px;
}

.intro-video img{
    max-width: 100%;
    padding-bottom: 6.8rem ;
}

.choose-us h2{
    text-align: center;
    font-size: 30px;
    padding: 0rem 2rem;
    margin-bottom: 29px;
}

.choose-us-card{
    background-color: var(--secund-color);
    border-radius: 20px ;
}

.choose-us-card img{
    max-width: 90%;
    padding: 50px 0px 40px 0px;
    display: block;
    margin: 0 auto;
}

.choose-us li{
    background-color: var(--text-light);
    margin: 10px 22px 10px 22px;
    border-radius: 8px ;
    list-style: none;
    text-align: left;
    padding: 17px 0px 17px 11px ;
}


.choose-us h4{
    font-size: 1rem;
    font-weight: 500;
}

.choose-us p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-muted);
    font-weight: 400;
    font-size: 10px;
    max-width: 65%;
}
.list-questions{
    padding-bottom: 70px;
    margin-bottom: 100px;
}


.footer{
    background-color: var(--primary-color);
    border-radius: 20px ;
    color: var(--text-light);
}



.upper-part h2{
    font-size: calc(2rem + 14px) ;
    text-align: left;
    padding: 68px 0px 21px 21px;
    width: 299px;
    font-weight: 500;
}

.upper-part p {
    font-size: calc(1rem - 2px);
    margin: 0px 137px 27px 20px;
    line-height: 22px;
    font-weight: 400;
}

.upper-part a{
    display: inline-block;
    font-size: calc(1rem - 2px);
    padding: 13px 22px ;
    background-color: var(--background-color);
    border-radius: calc(6rem + 4px);
    font-weight: 600;
    color: var(--text-dark);
    line-height: 14px;
    letter-spacing: 0%;
    text-decoration: none;
    margin: 0px 0px 80px 20px;
}

.upper-part::after{
    content: "";
    display: block;
    height: 1px;
    background-color: var(--background-color);
    width: 388px;
    margin: 0px 20px 79px 20px;
}

.talenthive-text{
    padding: 0px 95px 0px 21px ;
}

.talenthive-text h3{
    font-size: calc(1rem + 4px);
    font-weight: 500;
    padding-bottom: 17px;
}

.talenthive-text p{
    font-size:  calc(1rem - 2px);
    width: 195px;
}

.link a{
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: var(--text-light);
    font-weight: 400;
    line-height: 22px;
    padding: 0px 20px 22px 0px;
    padding-bottom: 22px;
}

.footer-discover{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-others{
    display: flex;
}
.footer-questions{
    padding: 74px 40px 76px 21px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-terms{
    padding: 74px 40px 76px 21px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.footer-social{
    padding: 74px 0px 76px 21px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last-part p{
    max-width: 288px;
    text-align: center;
    padding-bottom: 20px;
    font-size: calc(1rem - 2px);
    margin: 0 auto;
}

